#champion-display{
	background-color:#34322e;
	color: #cbc5c1;
	background-size:cover;	
	width:$displayWidth; height:100%;
	padding: 0.1em 0.5em;

	text-shadow: 0.1em 0.1em 0.1em #000;

	border-radius: 0.1em;
	box-shadow:0em 0em 2em $bgHighlight;
	
}
