$imgSize: 4em;

#champion-display{
	background-color:#34322e;
	color: #cbc5c1;
	background-size:cover;
	border-radius: 0.1em;
	max-width: 50em;
	min-width:35em;
	height:100%;
	text-shadow: 0.1em 0.1em 0.1em #000;
}
.container-img{
	flex:1;
} 
.container-data{
	flex:2;
}
.container-img img{
	@include rect($imgSize, auto);
}