.container-data{
	flex:4;
}
.title, .subtitle{
	font-weight:700;
}
.subtitle{
	font-size: 0.9em;
}
.header{
	flex:1;
	.title{		
		span{
			font-size:2.5em;
		}
		small{
			padding-left:0.5em;
			font-size:1.5em;
		}	
	}
	.subtitle{
		font-size: 0.9em;
		font-weight:700;
	}
}
.about{
	flex:2.7;	
	.about-inner{
		width:$aboutWidth;
		height:90%;
		border-radius:0.2em;
		padding:0.4em 0.1em;
		background-color: rgba(0,0,0, 0.5);
	}
	.nav{
		width:80%;
	}
	.title{
		margin:0.5em 0 0.2em 0;
	}
	.lore{
		overflow-y:scroll;
		font-size:0.7em;
		padding: 0.3em 0.1em;
	}
	.spells{
		.spell-item{
			padding: 0.1em;
			flex-basis:40%;
			width: $aboutWidth / 2 - 0.5;

			.title{font-size: 0.6em;}
			small{font-size:0.4em;}
			.img-container{
				padding:0.2em;
				overflow:hidden;
				border:solid 0.1em darken($gold, 10%);
				@include circle($aboutWidth / 8);
				background-size:cover;
			}
			.text-container{
				width: ($aboutWidth / 2) - ($aboutWidth / 8) - 1.5;
				padding:0 0.1em;
				word-wrap: break-word;
			}
		}
	}
}