$imgSize: 8em;

#champion-display{
	border: $border;
	background-color:#34322e;
	color: #cbc5c1;
	border-radius: 0.1em;
	max-width: 50em;
	min-width:30em;
	height:100%;
}
.container-img{
	@include rect($imgSize + 2, auto);
	// border:$border;
	flex:1;
} 
.container-data{
	flex:2;
}

.container-img img{
	@include rect($imgSize, auto);
}