$skinCardSize: 2em;
.skin-panel-container{
	flex:1;
	width:65%
}
.skin-panel-container, .skin-panel{
	perspective: 30em;
	
}
.skin-panel{
	transition:all 1s;
	transform-style: preserve-3d;
	// transform:rotateY( 30deg );
}
.skin-panel img{
	@include rect($skinCardSize, auto);
}
.skin-card{	
	cursor: pointer;
	opacity:$cardOpacity;
	transition:$transition;
	
	// transform:rotateY( 30deg ) ;
	&:hover{
		opacity:1;
	}
} 
