@charset "UTF-8";

@font-face {
  font-family: "stats";
  src:url("fonts/stats.eot");
  src:url("fonts/stats.eot?#iefix") format("embedded-opentype"),
    url("fonts/stats.woff") format("woff"),
    url("fonts/stats.ttf") format("truetype"),
    url("fonts/stats.svg#stats") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "stats" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "stats" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-difficulty:before {
  content: "\64";
}
.icon-magic:before {
  content: "\65";
}
.icon-attack:before {
  content: "\66";
}
.icon-defense:before {
  content: "\61";
}
