
$border: solid 0.1em #000;
$font:'Oxygen', sans-serif;
$transition: all 0.4s;
$displayWidth: 40em;
$cardOpacity: 0.7;

$white: #fff;
$bgHighlight: #16374a;

@mixin circle($width) {
	height:$width; width: $width;
	border-radius: 50%;
}
@mixin rect($width, $height){
	height: $height; width: $width;
}
@mixin rectMinSize($width, $height){
	min-height: $height; min-width: $width;
}